# dependencies
node_modules/

# build
dist/

# capacitor
android/
ios/

# electron build
out/
release-builds/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vscode
.vscode/

# system
.DS_Store
